/* Reset */

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
}

/* Migliorare leggibilità */

body {
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* Controlli dei form erediteranno stile dei genitori */

:where(input, button, textarea, select) {
    font: inherit;
    color: inherit;
}